<div class="widget-wrap">
    <h3 class="widget-title">MY DOUBAN</h3>
    <div class="widget">
             <script type="text/javascript" src="http://www.douban.com/service/badge/superalsrk/?selection=latest&amp;picsize=small&amp;show=collection&amp;n=9&amp;hidelogo=on&amp;cat=book&amp;columns=3"></script>
    </div>
</div>