<div class="widget-wrap">
    <h3 class="widget-title">LINKS</h3>
    <div class="widget">
      <ul>
		<li><a href="http://wilbeibi.com" target="_blank" title="Gates of Janus">Gates of Janus</a></li>
        <li><a href="http://uranux.com/" target="_blank" title="uranux">uranux小彬彬</a></li>
        <li><a href="http://ouxijv.com/blog/" target="_blank" title="ouxijv's Blog">ouxijv's Blog</a></li>
        <li><a href="http://zryfish.github.io/" target="_blank">知与谁同</a></li>
        <li><a href="http://blog.loli.io/" target="_blank">天羽ちよこ</a></li>
        <li><a href="http://blog.panic.so/" target="_blank">图图Panic</a></li>
	  </ul>
    </div>
</div>
