<div class="widget-wrap">
    <h3 class="widget-title">GITHUB</h3>
    <script
      data-name="superalsrk"
      data-modules="base,stats,repos,eventsStatis"
      data-reposNum="3"
      data-theme="base"
      src="http://octocard.in/o.js">
    </script>
</div>

